.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
log.log
log_2.log

/.quarto/
_site/
_freeze/
site_libs/
*.Rproj
*.parquet
*.png
collage/
posts/**/index.html
**/index_cache/
**/index_files/

data/
.git_old/
